<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pgj.css">
    <link href='//fonts.googleapis.com/css?family=Meie Script' rel='stylesheet'>
    <script src="myscripts.js"></script>
    <script type="text/javascript" src="myscripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	</head>

 	<body>
			<div id="wrapper">
	    		<div id="header">
				<center><p id="name">PETER GRADSON JAMES</p></center>


			</div>
<!--menu-->
		<div class= "contents">
        <h4 "employmentAndVolunteeringActivities.html">Employment and Volunteering Activities</h4>

					<h4>2015/16, 2016/17 - Student Advocate and Senior course representative;</h4>

							<p>Deal with students and staff, either providing solutions to straightforward matters or signposting or supporting progress on more complex issues via the relevant agencies. Also act as conduits to the larger student body by organizing and running focus groups, surveys and other activities. Support to other Student Advocates and Ambassadors.  </p>
							<p>Chair and Minute Student Forums, Submit Action Logs and end of year reflective statement, Attend other departmental meetings and committees, Ensure all communication between all levels of Reps. Closely liaise with Course Reps, Deputy Faculty Chairs and Faculty Chair.  Proactively developing and enhancing the overall student experience.  </p>

					<h4>Nov 2012 – Present	Senior Support, Firstpoint Homecare Ltd;</h4>
						<ul>
							<li>Co-ordinated, supervised and supported staff and the service users within a designated area, provide supervision and support to front line staff, undertake complex Risk Assessments and contribute to the Moving and handling assessments, carried out recruitment and induction of staff. Planned, organized and lead team meetings for staff. Ensured that administration and monitoring systems are maintained in compliance with all legislations. </li>
							<li>Trained in Dementia Leadership and Specialist, Level 2 safeguarding adults and Information governance. </li>
							<li>Gained Team leading skills, the ability to build rapport and trust with clients quickly and effectively.</li>
                        </ul>

					<h4>Dec 2014 – Jan 2016	Production Operative/Quality Inspector, Brose Ltd - via Templine Agency;</h4>
						<ul>
							<li>Machine operating, Quality Checking, general warehouse duties and all associated tasks.</li>
							<li>Acquired Business intelligence and Analytics skills as well as becoming a great team player.</li>
						</ul>

					<h4>Nov 2010 – Nov 2012	Praetorian Marketing, Birmingham UK
			            Marketing and Sales Account Manager /Team Leader - Duties/Responsibilities;</h4>
						 <ul>
							<li>As a Team Leader I did Recruitment, building a team, manage and motivate others. Teach and Train them on direct sales and the business system. Do interviews/Observations etc., and developing new sales personnel as well as working with the public to improve clients’ brand-awareness and new customer acquisitions.</li>
							<li>The position rendered me to become a confident Communicator with excellent Presentation and networking skills, gained positive Aptitude and team leading skills. Aptitude to analyze data to obtain a better understanding and seek out discrepancies when making calculations or posting data into accounting or other relevant books.</li>
						 </ul>

					<h4>Volunteering Activities;</h4>
						<ul>
							<li>2005 – 2006	Watch Limited, Coventry, UK
							Volunteer Worker undertaken duties and responsibilities such as, Advising and assisting the Centre users with employment, educational, social and economic queries from both adults and youngsters. This further enhanced my Motivation and mentoring skills.
						</li>

						</ul>
		</div>

		</body>
</html>