<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div-- class="row">
                <div class="col-sm-4">
                    <h3> About Me </h3>
                    <ul>
                        <li> <a href="short_story.html"> Short Story </a> </li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3> Interests</h3>
                    <ul>
                        <li> <a href="interests.html"> My Interests </a> </li>

                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3> Social Networks </h3>
                   <ul class="social">
                        <li> <a href="https://www.linkedin.com/in/petergradsonjames/"> <i class="fa fa-linkedin-square"> </i> </a> </li>
                        <li> <a href="https://twitter.com/PETERG_JAMES"> <i class="fa fa-twitter"> </i> </a> </li>
                        <!--li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li-->
                        <li> <a href="https://www.youtube.com/channel/UCwZ62rKRdaIcITK3Yv5OuSA"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Peter Gradson James 2017. All right reserved. </p>

        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
</body>
</html>