<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pgj.css">
    <link href='//fonts.googleapis.com/css?family=Meie Script' rel='stylesheet'>
    <script src="myscripts.js"></script>
    <script type="text/javascript" src="myscripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	</head>

 	<body>
			<div id="wrapper">
	    		<div id="header">
				<center><p id="name">PETER GRADSON JAMES</p></center>


			</div>
        </div>

		<div class= "contents">
         <h4 #"myInterests.html">Interests</h4>
				<ul>
						<li>I enjoy travelling and sightseeing. I have travelled around the Eastern, Central and Southern African countries, but have only travelled to 3 European countries, I am looking forward to exploring the continent a bit more as well as Asia and South America in future.</li>
						<li>I also enjoy watching and playing sports, go cycling to keep fit. Read, listen to music, watch movies and go cycling with family</li>
						<li>Travelling has enhanced my Researching skills, people and Intercultural skills, Stress management, time and self-management. These as well as planning and Organization skills. </li>

				</ul>
				</div>


	</body>
	</html>