<!DOCTYPE html>
<html lang="en">
<head>
    <<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pgj.css">
    <link href='//fonts.googleapis.com/css?family=Meie Script' rel='stylesheet'>
    <script src="myscripts.js"></script>
    <script type="text/javascript" src="myscripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<style>
.parallax {
    /* The image used */

    background-image: url(https://www.codejobs.biz/www/lib/files/images/a885f336e380ea1.jpg);

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-size: 80px 60px;
}
</style>

	</head>

 	<body>
			<div id="wrapper">
	    		<div id="header">
				<center><p id="name">PETER GRADSON JAMES</p></center>


			</div>
			<<div tabindex="0" class="pic-cropper__target-image-container bg-img__container-frame pic-cropper__image-loaded" style="width: 1188px; height: 220px;">
      <img id="ember3601-target-image" src="https://media.licdn.com/media/AAEAAQAAAAAAAAi8AAAAJGQ3NzNjZGQzLWIyZGYtNGE2NS1iYjdhLTc0NTM3NzczZDdmNw.jpg" alt="image being cropped" style="width:1188px;
      height:665.28px;
      top:0px;
      left:0px;
      transform:rotate(0deg);" draggable="true" class="pic-cropper__target-image pic-cropper__action-ignorer">
    </div>
<div class="parallax"></div>
		<div class= "contents">
            <h4 #"Projects.html">Project</h4>

			<h4>Vigor Business Software</h4>
				<ul>
						<li>As a Project Leader, I developed a Project Plan, determined the skills set of the team and the focus area of the project. Contributed to the design of the software (GUI) using python code that can present information graphically and interacts with remote databases, and implemented interactive filtering and sorting of the data. Contributed to the designed relational databases using SQL statements and implemented ER diagrams to record relevant stakeholder’s data such as Customer details, Website management data, Purchase information etc. Tested the designed tables and provided reports. Then designed and proposed a new Service Infrastructure, Service Level Agreement. I finally, using PESTEL, completed a competitive analysis of our Project and identified possible value addition activities.</li>
						<li>I gained Time and stress management skills, Team leading skills. Gained skills in basic software design and testing strategies and techniques in designing and implementation of IT systems. I also gained the understanding of service economy nature, service management structures, drivers and critical success factors of an IT service.</li>
				</ul>
		</div>



</body>
</html>