<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
  <title>SHORT STORY</title>
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pgj.css">
    <link href='//fonts.googleapis.com/css?family=Meie Script' rel='stylesheet'>
    <script src="myscripts.js"></script>
    <script type="text/javascript" src="myscripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>


<!--div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators >
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides >
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://www.wallpaperawesome.com/wallpapers-awesome/wallpapers-landscapes-mountains-sea-lakes-awesome/wallpaper-landscape-mountain-sea-lake-awesome-857.jpg">
     <div style="position: relative; background: url("https://www.wallpapesrawesome.com/wallpapers-awesome/wallpapers-landscapes-mountains-sea-lakes-awesome/wallpaper-landscape-mountain-sea-lake-awesome-857.jpg"); width: (width)px; height: (height)px;")>

<div style="position: absolute; bottom: 0; left: 0.5em; width: 400px; font-weight: bold; color: #fff;">
<p>Interests
I enjoy traveling and sightseeing. I have traveled around Africa, and a few European countries, I am looking forward to exploring the continent a bit more as well as Asia and the Americas in future. Travelling has enhanced my planning, researching skills, people and Intercultural skills, time and self-management.
I also enjoy watching and playing football, golf, cycling and keeping fit. These provided me with self-discipline and teamwork.</p>
</div>

<p style="position: absolute; top: 1em; right: 2em; width: 120px; padding: 4px; background-color: #fff; font-weight: bold; font-size: 11px;">
(text to appear at the top right of the image)
</p>

</div>

      </div>

      <div class="item">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTkGuuaHqSNTVq4W3LUlJs1cDfCUwwbwhiago1YG2zDKoFTL_iOhw" alt="">
      </div>

      <div class="item">
        <img src="http://arunnath.com/i/2017/03/forest-landscape-wallpaper-widescreen.jpg" alt="Flower" width="460" height="345">
      </div>

      <div class="item">
        <img src="http://eskipaper.com/images/forest-path-wallpapers-1.jpg" alt="Flower" width="1920" height="1790">
      </div>
    </div>

    <!-- Left and right controls >
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div-->


	<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" style="">
            <img src="http://www.wallpaperawesome.com/wallpapers-awesome/wallpapers-landscapes-mountains-sea-lakes-awesome/wallpaper-landscape-mountain-sea-lake-awesome-857.jpg" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">MY STORY</h4>
                <p class="">

            </div>
        </div>
        <div class="item active">
            <img src="http://arunnath.com/i/2017/03/forest-landscape-wallpaper-widescreen.jpg" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">MY STORY</h4>
                <p class="">
                    Currently a Coventry University student, reading Business Information Technology which include the following modules;
                    Computer programming, Current Technologies, IT Infrastructure and service technologies, Enterprise Information systems,
                    as well as Business Decision Making. I am also taking  Computer systems and Networking (CISCO) as my addVantage module,
                    and also undertaking a Global Leaders Programme GLP which is a prestigious membership designed to develop me into a future world leader.
                    Expand my global skills set through advanced workshops, global networking, international experience and exposure to industry leaders.
                </p>
                <P>
                     personal qualities consists of an intense desire to be successful in all that I try, I will always go that extra mile
                    and put in more effort to make sure I achieve my aims. In addition, a very positive person who has a ‘glass is half full’
                    mentality to life, business and everything. Normally, tend not to be knocked back by disappointments and regrets
                    and always look forward and not backwards. Last but not least, a very persistent person who understand that nothing is ever straightforward
                    and that you have to be patient to get where you want to be.
                </P>
                </p>
            </div>
        </div>
        <div class="item" style="">
            <img src="http://eskipaper.com/images/forest-path-wallpapers-1.jpg" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">INTERESTS</h4>

                            <p class="">
                   <p>
I enjoy traveling and sightseeing. I have traveled around Africa, and a few European countries, I am looking forward to exploring the continent a bit more as well as Asia and the Americas in future. Travelling has enhanced my planning, researching skills, people and Intercultural skills, time and self-management.
I also enjoy watching and playing football, golf, cycling and keeping fit. These provided me with self-discipline and teamwork.
            </p>
                </p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>


</div>

</body>
</html>