<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pgj.css">
    <link href='//fonts.googleapis.com/css?family=Meie Script' rel='stylesheet'>
    <script src="myscripts.js"></script>
    <script type="text/javascript" src="myscripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <style>

.parallax {
    /* The image used */
	background-image: url(http://mitchellmedia.co.uk/xot/USER-FILES/134-ronm-site/media/q1_knowledge_and_skills.png);

	height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

  </head>

 	<body>
			<div id="wrapper">
	    		<div id="header">
				<center><p id="name">PETER GRADSON JAMES</p></center>


			</div>

	<div class="parallax"></div>
	<div style="height: 600px; background-color:aqua; font-size: 30px;">
        <div class= "contents">
        <h4 #"SkillsAndAbilities.html">Skills and Abilities Profile</h4>

			<h4>Technical Skills</h4>
				<ul>
				    <li>Hardware and Software installations, maintain and repair computer systems and peripherals.</li>
				    <li>Have knowledge of HTML, CSS, Python, MySQL, Hardware, WordPress, and Networks</li>
				    <li>Business intelligence and analytics, Office suite and Internet search skills</li>
				    <li>Privacy and security/ Compliance governance</li>
				</ul>

			<h4>Practical Skills</h4>
			<ul>
			    <li>Competent user of Microsoft office including Outlook, Excel, Access, Word and PowerPoint</li>
			    <li>Languages; Professional proficiency in English and Swahili, and Elementary proficiency in French</li>
			    <li>Full UK Driver’s License and have access to a car</li>
			</ul>
        </div>

	</body>

</html>
